@keyframes connect-wallet-button {
  0%    {
    opacity: 1;
    transform: scale(1, 1);
    box-shadow: none;
  }

  50%   {
    opacity: 0.95;
    background: var(--dark-purple);
    transform: scale(1.03, 1.03);
    box-shadow: var(--box-shadow);
  }

  100%  {
    opacity: 1;
    transform: scale(1, 1);
    box-shadow: none;
  }
}

@keyframes fade-shrink {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100%  {
    opacity: 0;
    transform: scale(0, 0);
  }
}

@keyframes fade-grow {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100%  {
    opacity: 1;
    transform: scale(1, 1);
  }
}
